@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #091413;
  color: #B0E4CC;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
